
.hide {
  display: none;
}

.btn {
  background-color: orange;
  border:none;
}

.btn:hover {
    background-color: black;
}

th{
  text-align: center;
}

td{
  text-align: center;
}

.bamazonLogo{
  height: 50px;

}